@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root {
    --font-family: 'Oswald', sans-serif;
    /* funciona como as variaveis */
    --bg-color: #fcfdbe;
    --primary-color: #292902;

}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*alinhamento , tamanho ,cores do body*/
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);


}

h1 {
    text-decoration: underline;
    color: rgb(6, 0, 0);
    font-size: 6em;
}

h2 {
    font-size: 100px;
    color: rgb(71, 99, 43);
}

h3 {
    text-decoration: underline;
    color: rgb(7, 0, 0);
    font-size: 3em;
    margin-top: 30px;
}

h4 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 20px;

}

.mensagem {
    font-size: 40px;
    margin-top: 60px;
    color: (249, 140, 32);
    font-family: var(--font-familly)
}

.box {
    font-size: 3em;
    display: inline-block;
    border: 2px solid var(--primary-color);
    padding: 10px;
    margin: 20px;
    border-color: rgb(246, 84, 84);
    color: rgb(246, 84, 84);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    margin-top: 20px;
    font-style: oblique;
    text-decoration: overline;
}

.botaoo {
    color: rgb(2, 10, 0);
    padding: 2px 15px;
    margin-top: 50px; 
    border: 0;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    